<div class="base">
   <b> <span> {{title}} </span> </b>
    <div class="row" >
            <img src="./app/images/GroupPic.jpg" 
                 class="image"
                 title="aboutUs"/>
            <pre>
                Biographical Information
                Real Name     :	Strategic Homeland Intervention Enforcement Logistics Division
                Administrators:	
                                Nick Fury 
                                Spider-Man (temporary) 
                                Phil Coulson 
                                Curt Connors 
                                Taskmaster (formerly)
                                Agents:	Captain America
                                Wolverine (formerly)
                                Hawkeye
                                Iron Man
                                Thor
                                Hulk
                                Deadpool (formerly)
                                Spider-Man 
                                White Tiger 
                                Iron Fist 
                                Nova 
                                Power Man 
                                Amanda Cage (Scientist)
                                Walter Cage (Scientist)
                                Black Widow
                                Falcon
                                Status:	Active
                                Affiliations:	
                                The Avengers
                                Media Information
               First appearance:	Great Power
</pre>  
    </div>
</div>

