<div class="base">
   <b> <span> {{title}} </span> </b>
    <div class="row" >
        <table class="photos">
            <tr>
            <td> <img src="./app/images/Admin1.jpg"/> </td>
            <td> <img src="./app/images/Admin2.jpg"/> </td>
            <td> <img src="./app/images/AllAdmin.jpg"/> </td>
            <td> <img src="./app/images/Base.JPG"/> </td>
            </tr>
            <tr>
            <td> <img src="./app/images/BlackWidow.jpg"/> </td>
            <td> <img src="./app/images/CaptainAmerica.png"/> </td>
            <td> <img src="./app/images/Deadpool.png"/> </td>
            <td> <img src="./app/images/Falcon.png"/> </td>
            </tr>
            <tr>
            <td> <img src="./app/images/Group.jpg"/> </td>
            <td> <img src="./app/images/GroupPic.jpg"/> </td>
            <td> <img src="./app/images/Hawkeye.png"/> </td>
            <td> <img src="./app/images/Hulk.png"/> </td>
            </tr>
            <tr>
            <td> <img src="./app/images/IronFist.jpg"/> </td>
            <td> <img src="./app/images/IronMan.png"/> </td>
            <td> <img src="./app/images/Nova.jpg"/> </td>
            <td> <img src="./app/images/PowerMan.jpg"/> </td>
            </tr>
            <tr>
            <td> <img src="./app/images/shieldLogo.png"/> </td>
            <td> <img src="./app/images/ShieldMain.jpg"/> </td>
            <td> <img src="./app/images/Storm.jpg"/> </td>
            <td> <img src="./app/images/Thor.jpg"/> </td>
            </tr>
            <tr>
            <td> <img src="./app/images/WhiteTiger.jpg"/> </td>
            <td> <img src="./app/images/Wolverine.jpg"/> </td>
            </tr>
        </table>
    </div>
</div>

